@import "~antd/dist/antd.css";

.logo {
  float: left;
  width: 120px;
  height: 31px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.img {
  position: relative;
  left: 10rem;
  height: 300px;
  width: 50%;
  border-radius: 60%;
}
@media only screen and (min-width: 400px) {
.img {
  height: 100%;
  width:  50%;
}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img {
    left: 4rem;
    height: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .img {
    left: 4rem;
    height: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .img {
    left: 6rem;
    height: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img {
    left: 8rem;
    height: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .img {
    left: 10rem;
    height: 80%;
  }
}